@import url(style.css);
/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  background-color: #f8f8f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 13px;
}

/* line 7, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* line 10, ../sass/_base.scss */
h2 {
  font-size: 36px;
}

/* line 12, ../sass/_base.scss */
h5 {
  font-size: 16px;
}

/* line 13, ../sass/_base.scss */
h4 {
  font-size: 18px;
}

/* line 14, ../sass/_base.scss */
p {
  color: #666;
}

/* line 17, ../sass/_base.scss */
img {
  width: 100%;
}

/* line 1, ../sass/_modules.scss */
.logo {
  width: 110px;
}

/* line 7, ../sass/_modules.scss */
.title {
  text-align: center;
  margin-bottom: 60px;
}
/* line 10, ../sass/_modules.scss */
.title h2 {
  text-transform: uppercase;
  color: #ed245c;
}
/* line 14, ../sass/_modules.scss */
.title p {
  padding-top: 5px;
}

/* line 18, ../sass/_modules.scss */
.btn-pink {
  border: #ed245c 1px solid;
  background-color: transparent;
  color: #ed245c;
  font-size: 12px;
  margin-top: 15px;
}

/* line 25, ../sass/_modules.scss */
.row {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 30, ../sass/_modules.scss */
.thumbnail h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 35, ../sass/_modules.scss */
.section-service {
  text-align: center;
}
/* line 37, ../sass/_modules.scss */
.section-service h5 {
  padding-top: 15px;
  padding-bottom: 10px;
}
/* line 41, ../sass/_modules.scss */
.section-service p {
  padding-right: 15px;
  padding-left: 15px;
}
/* line 45, ../sass/_modules.scss */
.section-service .iconmoon {
  border: 1px solid #ed245c;
  border-radius: 40px;
  padding: 15px;
  color: #ed245c;
  font-size: 40px;
  display: inline-block;
}

/* line 57, ../sass/_modules.scss */
.section-about .btn-group {
  margin-top: 30px;
}
/* line 60, ../sass/_modules.scss */
.section-about .img-circle {
  width: 80px;
  margin-bottom: 30px;
}

/* line 65, ../sass/_modules.scss */
.footer {
  margin-top: 60px;
  background-color: #ed245c;
  padding: 15px;
}
/* line 69, ../sass/_modules.scss */
.footer p {
  color: #fff;
}

/* line 76, ../sass/_modules.scss */
.navbar-default {
  background-color: #f8f8f6;
  border-color: #f8f8f6;
}

/* line 80, ../sass/_modules.scss */
.map {
  margin-bottom: 15px;
}

@media screen and (min-width: 751px) {
  /* line 85, ../sass/_modules.scss */
  .navbar-nav > li > a {
    padding-top: 25px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 750px) {
  /* line 92, ../sass/_modules.scss */
  .service-item {
    margin-bottom: 30px;
  }

  /* line 95, ../sass/_modules.scss */
  .navbar-brand {
    padding: 10px 15px;
  }
}
